{% extends 'base.html.twig' %}

{% block title %}COM SORTIR - ENI{% endblock %}

{% block body %}
    <div class="container">
    <h1>Rejoignez-nous sur notre plateforme exclusive Sortir.com</h1>
    <div class="formulaire_bloc">
        {{ form_start(sortieform) }}
        <div class="formulaires">
            {{ form_row(sortieform.titre) }}
            {{ form_row(sortieform.campus) }}
            <div>{{ form_row(sortieform.dateRechercheDebut) }}{{ form_row(sortieform.dateRechercheFin) }}
            </div>
        </div>
        <div class="formulaires">
            <div>
                {{ form_row(sortieform.organisateur) }}
                {{ form_row(sortieform.sortiesPassees) }}
            </div>
            <div>
                {{ form_row(sortieform.inscrit) }}
                {{ form_row(sortieform.pasInscrit) }}
            </div>
        </div>
        {{ form_end(sortieform) }}
    </div>
    <p>Organisez et participez à des sorties passionnantes avec d'autres stagiaires ENI, où que vous soyez !</p>
    {% if sorties is not empty %}
    
<div class="tableau">
    <div class="table-container">
    <table class="result-table">
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.titre }}</td>
                <td>{{ sortie.date|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.users.count }} / {{ sortie.nombreDePlaces }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td> {% if sortie.users.contains(app.user) %}
                        {% if sortie.date > 'now'|date('Y-m-d H:i:s') %}
                            {% if sortie.users.contains(app.user) %}
                                <span class="icon">&#10004;</span>
                            {% endif %}
                        {% else %}
                            <span class="icon">&#10006;</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td><a href="{{ path('user_details', {'id' : sortie.organisateur.id}) }}" title="détails organisateur"> {{ sortie.organisateur.pseudo }}</a></td>
                <td>
                    {% if sortie.etat.id == 2 and not sortie.users.contains(app.user) and not sortie.organisateur.id is same as app.user.id %}
                    <a href="{{ path('actions_inscription', {'id': sortie.id}) }}" title="S'inscrire">S'inscrire</a>
                    {% endif %}
                    {% if sortie.users.contains(app.user) and sortie.date > 'now'|date('Y-m-d H:i:s') %}
                        <a href="{{ path('actions_desinscription', {'id': sortie.id}) }}" title="S'inscrire">Se désinscrire</a>
                    {% endif %}
                    <a href="{{ path('actions_details', {'id': sortie.id}) }}" title="{{ sortie.titre }}">Afficher</a>
                    {% if sortie.organisateur == app.user %}
                        {% if sortie.etat.id == 1 %}
                        <a href="{{ path('actions_modifier', {'id': sortie.id}) }}" title="Modifier la sortie">Modifier</a>
                        <a href="{{ path('actions_publier', {'id': sortie.id}) }}" title="Publier la sortie">Publier</a>
                        {% endif %}
                        <a href="{{ path('actions_annuler', {'id': sortie.id}) }}" title="Annuler la sortie">Annuler</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
</div>
    {% endif %}
{% endblock %}