{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <h1> Consulter la liste des sorties : </h1>

    <ul>

        {% for curseur in tiensPrendsMonTableau %}
            <li>
                <strong>{{ curseur.titre }}</strong><br>
                <em>{{ curseur.description }}</em><br>
                Lieu: {{ curseur.lieu }}<br>
                Date: {{ curseur.date|date('d/m/Y') }}
            </li>
        {% endfor %}




{#        {% for sortie in sorties %}#}
{#            <li>#}
{#                <strong>{{ sortie.titre }}</strong><br>#}
{#                <em>{{ sortie.description }}</em><br>#}
{#                Lieu: {{ sortie.lieu }}<br>#}
{#                Date: {{ sortie.date|date('d/m/Y') }}#}
{#            </li>#}
{#        {% endfor %}#}
    </ul>
{% endblock %}


{#{% endblock %}#}