{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <h1>Modifier une sortie</h1>
    <div class="formulaires">
        <div class="colonne">
            {{ form_start (sortieForm) }}
            {{ form_row(sortieForm.titre) }}
            {{ form_row(sortieForm.date) }}
            {{ form_row(sortieForm.nombreDePlaces) }}
            {{ form_row(sortieForm.duree) }}
            {{ form_row(sortieForm.description) }}
        </div>
        <div class="colonne">
            {{form_widget (sortieForm)}}
        </div>
    </div>
    <div class="nosBoutons">
        <div class="submitValider"><button type="submit">Enregistrer</button></div>
        <div class="submitPublier"><button type="submit">Publier</button></div>
    {{ form_end(sortieForm) }}
        <div class="submitSupprimer"><a href="{{ path('sorties_supprimer', {'id': sortie.id}) }}" title="Delete">Supprimer</a></div>
        <div class="submitAnnuler"><a href="{{ path('main_home') }}">Annuler</a></div>
    </div>
{% endblock %}