{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détails de la sortie {{ sortie.titre }}</h1>
    <div class="formulaire_bloc">
        <div class="attribut">
            <div class="detail">
                <ul>
                    <li>Nom de la sortie : {{ sortie.titre }}</li>
                    <li>Date et heure de la sortie : {{ sortie.date|date('d/m/Y H:i') }} pour une durée de {{ sortie.duree|date('H:i') }}</li>
                    <li>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</li>
                    <li>Nombre de places : {{ sortie.nombreDePlaces }}</li>
                </ul>
            </div>
            <div class="detail">
                <ul>
                    <li>Campus : {{ sortie.campus.nom }}</li>
                    <li>Lieu : {{ sortie.lieu.nom }}</li>
                    <li>Rue : {{ sortie.lieu.rue }}</li>
                    <li>Code postal : {{ sortie.lieu.ville.codePostal }}</li>
                    <li>Latitude : {{ sortie.lieu.latitude }}</li>
                    <li>Longitude : {{ sortie.lieu.longitude }}</li>
                </ul>
            </div>
            <div class="description">
                <ul>
                    <li>Description et infos :</li>
                    <li>{{ sortie.description }}</li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Liste des participants</h2>
    <div class="tableau">
        <div class="table-container">
            <table class="result-table">
                <tr>
                    <th></th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                {% for participant in participants %}
                    <tr>
                        <td>
                            {% if participant.imageName %}
                                <img src="{{ asset('images/users/' ~ participant.id ~ '/' ~ participant.imageName) }}"
                                     alt="photo de profil" width="35" height="35">
                            {% else %}
                                <img src="{{ asset('images/users/PasDePhoto.png') }}" alt="Pas de Photo" width="35"
                                     height="35">
                            {% endif %}
                        </td>
                        <td><a href="{{ path('user_details', {'id' : participant.id}) }}">{{ participant.pseudo }}</a>
                        </td>
                        <td>{{ participant.prenom ~ ' ' ~ participant.nom }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
       <!-- Affichage des liens de pagination -->
    {{ knp_pagination_render(participants) }}
{% endblock %}

{% block title %}
{{ sortie.titre }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T+OASUxh6I6GpA4RFip2tv02/5N25c1Tp/z12q9v3YmtoJSIw5d6+EQSkqNuR/yj" crossorigin="anonymous">
{% endblock %}
