<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Sortir.com{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/LogoProjetSortir.webp') }}">

        {# insertion d'une police d'écriture googlefonts (type cdn) : #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

        {# insertion d'une feuille de style CSS qui permet de "gommer" toutes les différences d'un navigateur à l'autre #}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">

        {# insertion d'une feuille de style CSS #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">

        {#    insertion d'une icone #}
        <link rel="icon" href="{{ asset('img/LogoProjetSortir.webp') }}">
    </head>
    <body>
        <header>

           <div class="contenuDuHeader">
               <a href="{{ path('main_home') }}"><img src="{{ asset('img/LogoProjetSortir.webp') }}" alt="Ikouzo !"></a>
               {%  include('inc/nav.html.twig') %}
           </div>
           
        </header>
        {# gestion du flash message : #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <main>
            {# read and display all flash messages #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        <footer>
          {%  include('inc/footer.html.twig') %}
        </footer>
    </body>
</html>
