<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/touktouk.png') }}">
        <link rel="stylesheet" href=" {{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href=" {{ asset('css/app.css') }}">
    </head>
    <body>
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
    </body>
</html>
