<nav>
  {% if app.user %}
  <a href="{{ path('main_home') }}" title="Home">Home</a>
  <a href="{{ path('sorties_afficher') }}" title="Sorties"> | Consulter les sorties</a>
  <a href="{{ path('sorties_ajouter') }}" title="AjoutSortie"> | Créer une sortie </a>
  <a href="{{ path('app_logout') }}" title="Logout">Logout ({{ app.user.pseudo }})</a>
  {# Accès à son profil si connecté - (penser à transmettre l'id)
    <a href="{{ path('participant_modifier') }}" title="Modifier le profil de l'utilisateur"> | Modifier mon profil</a>#}
  {% endif %}
</nav>