{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modifier votre profil</h1>
    <div class="formulaire_bloc">
        {{ form_start(userForm) }}
        {% if user.imageName %}
    <img src="{{ asset('images/users/' ~ user.id ~ '/'~ user.imageName) }}"
         alt="photo de {{ user.prenom }} {{ user.nom }}" width="125" height="125">
    {% else %}
        <img src="{{ asset('images/users/PasDePhoto.png') }}" alt="photo par défaut" width="125" height="125">
        {% endif %}
        <div class="formulaires">
            <div class="colonne">
            {{ form_row(userForm.nom) }}
            {{ form_row(userForm.prenom) }}
            {{ form_row(userForm.pseudo) }}
            {{ form_row(userForm.email) }}
            </div>
            <div class="colonne">
                {{ form_row(userForm.telephone) }}
                {{ form_row(userForm.password) }}
                {{ form_row(userForm.campus) }}
                <div class="uploadPhotoProfil">
                    {{ form_row(userForm.imageFile) }}
                </div>
            </div>
        </div>
    </div>
    <div class="nosBoutons">
        <div class="submitValider">
            <button type="submit" title="Valider la sortie" name="clickSurValider">Valider</button>
        </div>
        {{ form_end(userForm) }}
        <div class="submitAnnuler">
            <a href="{{ path('main_home') }}">Annuler</a>
        </div>
    </div>
{% endblock %}
{% block title %}
    Mon profil ({{ user.nom~' '~user.prenom }}) | {{ parent() }}
{% endblock %}