{% extends 'base.html.twig' %}

{% block title %}
Détails utilisateur | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Détails utilisateur</h1>
    <div>
{#        photo de l'utilisateur#}
{#        <img src="{{ asset('upload/' ~ user.photoFilename) }}" alt="Photo de profil">#}
    </div>
    <div>
    <div>
        <div>
            <table>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.prenom }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ user.telephone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Campus</th>
                    <td>{{ user.campus.nom }}</td>
                </tr>
            </table>
        </div>
    </div>
    <a href="{{ path('main_home') }}">Retour</a>
    </div>
{% endblock %}

